In [15]:
import pandas as pd

In [16]:
datas = pd.read_csv('raw_data_cleaned.csv')
datas.head()

,Unnamed: 0,price,number_of_rooms,area,terrace_area,garden_area,surface_of_the_land,surface_area_of_the_plot_of_land,number_of_facades,type_of_property,...,type_of_sale.1,fully_equipped_kitchen.1,furnished,open_fire,terrace,garden,swimming_pool,state_of_the_building,province,region
0,0,319799.0,1.0,NaN,11.0,NaN,NaN,NaN,NaN,apartment,...,regular sale,0,0.0,0,1,0,0,NaN,Antwerp,Vlaams
1,1,291999.0,1.0,NaN,6.0,NaN,NaN,NaN,NaN,apartment,...,regular sale,0,0.0,0,1,0,0,NaN,Antwerp,Vlaams
2,2,764999.0,2.0,153.0,62.0,NaN,NaN,NaN,NaN,apartment,...,regular sale,0,0.0,0,1,0,0,NaN,Antwerp,Vlaams
3,3,660264.0,3.0,NaN,160.0,NaN,NaN,NaN,NaN,apartment,...,regular sale,0,0.0,0,1,0,0,NaN,Antwerp,Vlaams
4,4,294999.0,2.0,80.0,NaN,NaN,NaN,NaN,NaN,apartment,...,regular sale,0,0.0,0,0,0,0,NaN,Vlaams-Brabant,Vlaams

In [17]:
datas.drop(columns=['Unnamed: 0'], inplace=True)
datas.head()

,price,number_of_rooms,area,terrace_area,garden_area,surface_of_the_land,surface_area_of_the_plot_of_land,number_of_facades,type_of_property,locality,...,type_of_sale.1,fully_equipped_kitchen.1,furnished,open_fire,terrace,garden,swimming_pool,state_of_the_building,province,region
0,319799.0,1.0,NaN,11.0,NaN,NaN,NaN,NaN,apartment,2970,...,regular sale,0,0.0,0,1,0,0,NaN,Antwerp,Vlaams
1,291999.0,1.0,NaN,6.0,NaN,NaN,NaN,NaN,apartment,2970,...,regular sale,0,0.0,0,1,0,0,NaN,Antwerp,Vlaams
2,764999.0,2.0,153.0,62.0,NaN,NaN,NaN,NaN,apartment,2970,...,regular sale,0,0.0,0,1,0,0,NaN,Antwerp,Vlaams
3,660264.0,3.0,NaN,160.0,NaN,NaN,NaN,NaN,apartment,2970,...,regular sale,0,0.0,0,1,0,0,NaN,Antwerp,Vlaams
4,294999.0,2.0,80.0,NaN,NaN,NaN,NaN,NaN,apartment,3200,...,regular sale,0,0.0,0,0,0,0,NaN,Vlaams-Brabant,Vlaams

In [18]:
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69304 entries, 0 to 69303
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   price                             69304 non-null  float64
 1   number_of_rooms                   68600 non-null  float64
 2   area                              58907 non-null  float64
 3   terrace_area                      23111 non-null  float64
 4   garden_area                       10862 non-null  float64
 5   surface_of_the_land               33970 non-null  float64
 6   surface_area_of_the_plot_of_land  33970 non-null  float64
 7   number_of_facades                 35696 non-null  float64
 8   type_of_property                  68949 non-null  object
 9   locality                          69304 non-null  int64
 10  subtype_of_property               14071 non-null  object
 11  type_of_sale                      69304 non-null  object
 12  fully_equipped_kitchen            69304 non-null  int64
 13  type_of_sale.1                    69304 non-null  object
 14  fully_equipped_kitchen.1          69304 non-null  int64
 15  furnished                         49310 non-null  float64
 16  open_fire                         69304 non-null  int64
 17  terrace                           69304 non-null  int64
 18  garden                            69304 non-null  int64
 19  swimming_pool                     69304 non-null  int64
 20  state_of_the_building             39402 non-null  object
 21  province                          69304 non-null  object
 22  region                            69304 non-null  object
dtypes: float64(9), int64(7), object(7)
memory usage: 12.2+ MB

In [19]:
datas = datas[~datas['price'].isnull()]
datas.reset_index(inplace=True, drop=True)
datas.head()

,price,number_of_rooms,area,terrace_area,garden_area,surface_of_the_land,surface_area_of_the_plot_of_land,number_of_facades,type_of_property,locality,...,type_of_sale.1,fully_equipped_kitchen.1,furnished,open_fire,terrace,garden,swimming_pool,state_of_the_building,province,region
0,319799.0,1.0,NaN,11.0,NaN,NaN,NaN,NaN,apartment,2970,...,regular sale,0,0.0,0,1,0,0,NaN,Antwerp,Vlaams
1,291999.0,1.0,NaN,6.0,NaN,NaN,NaN,NaN,apartment,2970,...,regular sale,0,0.0,0,1,0,0,NaN,Antwerp,Vlaams
2,764999.0,2.0,153.0,62.0,NaN,NaN,NaN,NaN,apartment,2970,...,regular sale,0,0.0,0,1,0,0,NaN,Antwerp,Vlaams
3,660264.0,3.0,NaN,160.0,NaN,NaN,NaN,NaN,apartment,2970,...,regular sale,0,0.0,0,1,0,0,NaN,Antwerp,Vlaams
4,294999.0,2.0,80.0,NaN,NaN,NaN,NaN,NaN,apartment,3200,...,regular sale,0,0.0,0,0,0,0,NaN,Vlaams-Brabant,Vlaams

In [20]:
datas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69304 entries, 0 to 69303
Data columns (total 23 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   price                             69304 non-null  float64
 1   number_of_rooms                   68600 non-null  float64
 2   area                              58907 non-null  float64
 3   terrace_area                      23111 non-null  float64
 4   garden_area                       10862 non-null  float64
 5   surface_of_the_land               33970 non-null  float64
 6   surface_area_of_the_plot_of_land  33970 non-null  float64
 7   number_of_facades                 35696 non-null  float64
 8   type_of_property                  68949 non-null  object
 9   locality                          69304 non-null  int64
 10  subtype_of_property               14071 non-null  object
 11  type_of_sale                      69304 non-null  object
 12  fully_equipped_kitchen            69304 non-null  int64
 13  type_of_sale.1                    69304 non-null  object
 14  fully_equipped_kitchen.1          69304 non-null  int64
 15  furnished                         49310 non-null  float64
 16  open_fire                         69304 non-null  int64
 17  terrace                           69304 non-null  int64
 18  garden                            69304 non-null  int64
 19  swimming_pool                     69304 non-null  int64
 20  state_of_the_building             39402 non-null  object
 21  province                          69304 non-null  object
 22  region                            69304 non-null  object
dtypes: float64(9), int64(7), object(7)
memory usage: 12.2+ MB

In [21]:
(datas.isnull().sum()/len(datas)).sort_values()

price                               0.000000
swimming_pool                       0.000000
garden                              0.000000
terrace                             0.000000
open_fire                           0.000000
fully_equipped_kitchen.1            0.000000
type_of_sale.1                      0.000000
fully_equipped_kitchen              0.000000
province                            0.000000
type_of_sale                        0.000000
locality                            0.000000
region                              0.000000
type_of_property                    0.005122
number_of_rooms                     0.010158
area                                0.150020
furnished                           0.288497
state_of_the_building               0.431461
number_of_facades                   0.484936
surface_area_of_the_plot_of_land    0.509841
surface_of_the_land                 0.509841
terrace_area                        0.666527
subtype_of_property                 0.796967
garden_area                         0.843270
dtype: float64

In [22]:
(datas[datas['type_of_property']=='house'].isnull().sum()/len(datas)).sort_values()

price                               0.000000
swimming_pool                       0.000000
garden                              0.000000
terrace                             0.000000
open_fire                           0.000000
fully_equipped_kitchen.1            0.000000
type_of_sale.1                      0.000000
fully_equipped_kitchen              0.000000
province                            0.000000
type_of_sale                        0.000000
type_of_property                    0.000000
locality                            0.000000
region                              0.000000
number_of_rooms                     0.003434
surface_area_of_the_plot_of_land    0.027387
surface_of_the_land                 0.027387
area                                0.106242
furnished                           0.161203
number_of_facades                   0.182919
state_of_the_building               0.198257
garden_area                         0.376630
subtype_of_property                 0.393109
terrace_area                        0.395042
dtype: float64

In [23]:
(datas[datas['type_of_property']=='apartment'].isnull().sum()/len(datas)).sort_values()

price                               0.000000
swimming_pool                       0.000000
garden                              0.000000
terrace                             0.000000
open_fire                           0.000000
fully_equipped_kitchen.1            0.000000
type_of_sale.1                      0.000000
fully_equipped_kitchen              0.000000
province                            0.000000
type_of_sale                        0.000000
type_of_property                    0.000000
locality                            0.000000
region                              0.000000
number_of_rooms                     0.006421
area                                0.042768
furnished                           0.127294
state_of_the_building               0.229236
terrace_area                        0.266998
number_of_facades                   0.297010
subtype_of_property                 0.399688
garden_area                         0.462455
surface_area_of_the_plot_of_land    0.480896
surface_of_the_land                 0.480896
dtype: float64

In [24]:
datas.groupby('type_of_property').size()

type_of_property
apartment    34694
house        34255
dtype: int64

In [25]:
small_data = datas.drop_duplicates()
print(small_data.shape)

datas.shape

(69304, 23)

(69304, 23)

In [30]:
datas.columns

Index(['price', 'number_of_rooms', 'area', 'terrace_area', 'garden_area',
       'surface_of_the_land', 'surface_area_of_the_plot_of_land',
       'number_of_facades', 'type_of_property', 'locality',
       'subtype_of_property', 'type_of_sale', 'fully_equipped_kitchen',
       'type_of_sale.1', 'fully_equipped_kitchen.1', 'furnished', 'open_fire',
       'terrace', 'garden', 'swimming_pool', 'state_of_the_building',
       'province', 'region'],
      dtype='object')

In [28]:
datas=datas.astype({
                  'type_of_property':'string',
                  'subtype_of_property':'string',
                  'price':'float64', 
                  'type_of_sale':'string',
                  'number_of_rooms':'Int64', 
                  'area':'float64', 
                  'Fully equipped kitchen':'Int64', 
                  'Furnished':'Int64',
                  'Open fire':'Int64',
                  'Terrace':'Int64',
                  'Terrace Area':'float64',
                  'Garden':'Int64',
                  'Garden Area':'float64',
                  'Surface of the land':'float64',
                  'Surface area of the plot of land':'float64',
                  'Number of facades':'Int64',
                  'Swimming pool':'Int64',
                  'State of the building':'string'
                 })
datas.dtypes

KeyError: 'Only a column name can be used for the key in a dtype mappings argument.'

In [ ]:
datas['Type of property'] = datas['Type of property'].str.strip()
datas['Subtype of property'] = datas['Subtype of property'].str.strip()
datas['Type of sale'] = datas['Type of sale'].str.strip()
datas['State of the building'] = datas['State of the building'].str.strip()

In [ ]:
datas['Type of property'].unique()

In [ ]:
datas['Subtype of property'].unique()

In [ ]:
datas['Type of sale'].unique()

In [ ]:
datas['State of the building'].unique()

In [ ]:
datas['Price'].sort_values()

In [ ]:
datas['Number of rooms'].unique()

In [ ]:
datas['Number of rooms'].dropna().sort_values()

In [ ]:
datas.loc[43601,:]

In [ ]:
datas[datas[['Locality', 'Price', 'Type of property', 'Number of rooms', 'Area']].duplicated()]

In [ ]:
datas.loc[73526,:]

In [ ]:
datas[(datas['Locality']==9185) & (datas['Price']==340000) & (datas['Type of property']=='house')
      & (datas['Number of rooms']==4) & (datas['Area']==164)]

In [ ]:
value = (datas['Locality'] == datas.loc[0, 'Locality']) | datas['Locality'].isnull()
duplicates_datas = []
for i in range(20000):
    value = (datas['Locality'] == datas.loc[i, 'Locality']) | datas['Locality'].isnull()
    for col in datas.columns:
        value = value & ((datas[col] == datas.loc[i, col]) | datas[col].isnull())
    if i%1000==0:
        print(i)
    if len(datas[value])>1:
        duplicates_datas.append(datas[value])
        
#logic immo has 19k datas

In [ ]:
len(duplicates_datas)

In [ ]:
duplicates_datas[1300].head()

In [ ]:
print(len(duplicates_datas))
duplicates_datas[0].head()

In [ ]:
duplicates_datas.sort(key=lambda x:x.index[-1], reverse=True)

In [ ]:
duplicates_datas[3].head()

## Data Analysis

In [ ]:
df = pd.read_csv('database.csv')
df.head()

In [ ]:
#df.drop(columns=['Unnamed: 0', 'Url', 'Source'], inplace=True)
old_col=(df.columns)
new_col=[]
# rename column in a pythonic way
for item in old_col:
    item =item.lower()
    item= item.replace(' ','_')
    new_col.append(item)

df.columns=new_col
df.drop_duplicates(inplace=True)
df = df[~df['price'].isnull()]
df.reset_index(inplace=True, drop=True)
prices = df.pop('price')
df.insert(0, 'price', prices)
df.head()

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
f, ax = plt.subplots(figsize=(10, 10))
ax = sns.heatmap(df.corr(), annot=True)
plt.show()

In [ ]:
fig, (ax1, ax2) = plt.subplots(1,2, figsize=(20, 10))
sns.heatmap(df[df['type_of_property']=='apartment'].corr(), ax=ax1)
sns.heatmap(df[df['type_of_property']=='house'].corr(), ax=ax2)
plt.show()

In [ ]:
df.corr()['price'].sort_values(ascending=False)

In [ ]:
df[df['type_of_property']=='apartment'].corr()['price'].sort_values(ascending=False)

In [ ]:
df[df['type_of_property']=='house'].corr()['price'].sort_values(ascending=False)

In [ ]:
from scipy.stats import pearsonr
df_corr = pd.DataFrame(columns=['corr', 'p-value'])
for i in range(len(df.columns)):
    col = df.columns[i]
    if i==0 or df[col].dtypes != 'float64':
        continue
    df_col = df[['price', col]].dropna()
    df_corr.loc[col]=(pearsonr(df_col['price'], df_col[col]))
df_corr.sort_values(by='corr', ascending=False)

In [ ]:
plt.scatter(df['number_of_rooms'], df['price'])
plt.show()

In [ ]:
plt.scatter(df[df['number_of_rooms']<10]['number_of_rooms'], df[df['number_of_rooms']<10]['price'])

In [ ]:
df_house = df[df['type_of_property']=='house']
df_corr = pd.DataFrame(columns=['corr', 'p-value'])
for i in range(len(df.columns)):
    col = df.columns[i]
    if i==0 or df_house[col].dtypes != 'float64':
        continue
    df_col = df_house[['price', col]].dropna()
    df_corr.loc[col]=(pearsonr(df_col['price'], df_col[col]))
df_corr.sort_values(by='corr', ascending=False)

In [ ]:
plt.scatter(df_house['area'], df_house['price'])

In [ ]:
df_house_small = df_house[df_house['area']<2500]
plt.scatter(df_house_small['area'], df_house_small['price'])

In [ ]:
df_apartment = df[df['type_of_property']=='apartment']
print(df_apartment['area'].isnull().sum()/len(df_apartment['area']))
df_corr = pd.DataFrame(columns=['corr', 'p-value'])
for i in range(len(df.columns)):
    col = df.columns[i]
    if i==0 or df_apartment[col].dtypes != 'float64':
        continue
    df_col = df_apartment[['price', col]].dropna()
    df_corr.loc[col]=(pearsonr(df_col['price'], df_col[col]))
df_corr.sort_values(by='corr', ascending=False)

In [ ]:
from scipy.stats import spearmanr
df_corr = pd.DataFrame(columns=['spearmanr', 'p-value'])
for i in range(len(df.columns)):
    col = df.columns[i]
    if i==0 or df_house[col].dtypes != 'float64':
        continue
    df_col = df_house[['price', col]].dropna()
    df_corr.loc[col]=(spearmanr(df_col['price'], df_col[col]))
df_corr.sort_values(by='spearmanr', ascending=False)

# values by municipalities and region

In [ ]:
df_cities = pd.read_csv('/home/nathanael/Documents/BeCode/Projects/Data_Analysis/challenge-data-analysis/DataCleaning/post_codes.csv', sep=';')
print(df_cities.shape)
df_cities.head()

In [ ]:
province = {'province' : ['Flandre-Occidentale', 'Brabant Flamand', 'Namur', 'Hainaut',
       'Luxembourg', 'Flandre-Orientale', 'Liège', 'Limbourg',
       'Brabant Wallon', np.nan, 'Anvers', 'Bruxelles (19 communes)'],
           'region' : ['Flandre', 'Flandre', 'Wallonie', 'Wallonie', 'Wallonie', 'Flandre', 'Wallonie', 'Flandre',
                       'Wallonie', np.nan, 'Flandre', 'Bruxelles'
                      ]}
df_province = pd.DataFrame(province)
df_province

In [ ]:
df_cities = df_cities.merge(df_province, how= 'left', left_on='Province', right_on='province')
df_cities.head()

In [ ]:
df_with_region = df.merge(df_cities[['Code postal', 'region']], how='left', left_on='locality', right_on='Code postal')
df_with_region.drop_duplicates(inplace=True)
df_with_region.head()

In [ ]:
df_with_region = df_with_region[['price', 'locality', 'region', 'type_of_property']]
df_with_region['price_per_m_square'] = df['price']/df['area']
df_with_region['area'] = df['area']
df_with_region.head()

In [ ]:
df_with_region.groupby('region').agg(['mean','median'])[['price', 'price_per_m_square', 'area']]

In [ ]:
df_with_region.groupby(['type_of_property','region']).agg(['mean','median'])[['price', 'price_per_m_square', 'area']]

In [ ]:
df_loc = df_with_region.groupby('locality').agg(['mean','median', 'size'])
df_loc = df_loc['price']
df_loc[df_loc['size']>2].sort_values(by= 'mean', ascending=False)

In [ ]:
df_loc = df_with_region.groupby('locality').agg(['mean','median', 'size'])
df_loc[df_loc['price_per_m_square']['size']>2].sort_values(by= ('price_per_m_square','mean'), ascending=False)

In [ ]:
df_with_province = df.merge(df_cities[['Code postal', 'province']], how='left', left_on='locality', right_on='Code postal')
df_with_province.drop_duplicates(inplace=True)
df_with_province = df_with_province[['price', 'locality', 'province']]
df_with_province.head()

In [ ]:
df_with_province.groupby('province').agg(['mean','median'])['price'].sort_values(by='mean', ascending=False)

In [ ]:
df_with_province = df.merge(df_cities[['Code postal', 'province']], how='left', left_on='locality', right_on='Code postal')
df_with_province.drop_duplicates(inplace=True)
df_with_province = df_with_province[['price', 'locality', 'province', 'type_of_property']]
df_with_province.head()

In [ ]:
df_with_province.groupby(['type_of_property', 'province']).agg(['mean','std', 'median'])['price'].sort_values(by='mean', ascending=False)

In [ ]:
df_supp = df
df_supp['area_inv'] = 1/df['area']
df_supp.corr()['price']

In [ ]:
df_with_province.groupby(['type_of_property', 'province']).describe()['price'].sort_values(by='mean', ascending=False)

In [ ]:
df.groupby(['type_of_property', 'locality']).size().mean()

In [ ]:
df_with_province.groupby(['type_of_property', 'province']).size().mean()